<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <ion-grid>
    <ion-row class="ion-justify-content-around text-center">
      <ion-col size="10">
        <h1 class="text" style="top: 19em;left: 3.8em">División A</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around text-center">
      <ion-col size="12" style="left: 1.0em;">
        <h1 class="text">Alejandro Heidenreich</h1>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-around text-center">
      <ion-col>
        <img src="assets/icon.png" alt="logo" class="logo">
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>